
export(create_db_table)
export(create_db_partition_years)
export(add_adt_metadata_table)

export(aws_parameters_json_minutes)
export(get_aws_parameters_rds)

export(convert_shp_to_geojson)
export(create_AWS_DATA)
export(create_db_connection)
export(updateAWSStatus)
export(initializeAWSStatus)
export(get_datadb_range)
export(get_datadb_timestep)

export(create_network_info)
export(update_network_info)
export(create_adt_params_table)
export(update_adt_params_table)
export(create_adt_stats_table)
export(update_adt_stats_table)

export(create_adt_limit_check_table)
export(update_adt_limit_check_table)

export(create_aws_timestep)
export(update_aws_timestep)

export(create_minfrac_hourly)
export(update_minfrac_hourly)
export(create_minfrac_daily)
export(update_minfrac_daily)
export(create_minfrac_aggregate)
export(update_minfrac_aggregate)

export(create_adt_colorkey_table)
export(update_adt_colorkey_table)

export(populate_aws_minutes)
export(populate_one_aws_minutes)
export(update_aws_minutes)

export(compute_aws_hourly)
export(compute_one_aws_hourly)
export(update_aws_hourly)

export(compute_aws_daily)
export(compute_one_aws_daily)
export(update_aws_daily)

# export(initializeAWSAggrPeriod)
# export(get_aws_variables)
# export(get_aws_dataVarObj)
